<h2 class="booking-form-title banger-font">Booking Form</h2>
<%= simple_form_for [@power, @booking] do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.button :submit, class: ['submit-btn-red banger-font'] %>
<% end %>
