<h1 class="booking-form-title banger-font">Booking Form</h1>
<%= simple_form_for [@power, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit, class: ['submit-btn-red banger-font'] %>
<% end %>
