// Define variables for your color scheme

// For example:
$red: #e00000;
$red2: #b80000;
$yellow: #ffd500;
$yellow2: #fbe134;
$blue: #192bc2;
$blue2: #0c63e7;
$grey-light: #ced4da;
$grey: #9999a1;
$grey-dark: #6c757d;
$black: #0E0000;
$white: #f8f8f8;
