.booking-card-power {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.booking-card-power img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.booking-card-power h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.booking-card-power p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.booking-card-power .card-power-infos {
  padding: 16px;
  width: 100%;
}

.accept-decline-container {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.plus-minus-container {
  display: flex;
}
