.power-show-info {
  background-color: $gray-dark;
  width: 90vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: solid black 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}

.power-show-title {
  margin-bottom: 30px;
  color: $white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: $gray-light;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: solid black 3px;
  border-left: none;
  border-right: none;
}

.power-show-container {
  display: flex;
  justify-content: space-evenly;
}

.power-show-card {
  color: $black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.power-image-container {
  position: relative;
}

.power-show-display-image {
  border: solid black 5px;
}

.power-show-user-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  border: solid black 3px;
}

.power-text-info {
  background-color: $white;
  border: solid black 5px;
  border-top: none;
  width: 500px;
  padding: 15px;
}
