<div class="banner-container">
  <%= image_tag("banner.jpg", alt: "Banner", class: "banner-image") %>
  <div class="banner-text">
  <h1>Welcome to Power Up</h1>
  <p>Unleash your potential by booking a power today!</p>
  <%# <input role="combobox" aria-expanded="false" id="location-typeahead-home-input" aria-autocomplete="list" aria-controls="location-typeahead-home-menu" aria-labelledby="location-typeahead-home-label" autocomplete="off" type="text" name="searchTerm" placeholder="Search Powers" class="d0 b0 dz d1 e0 e1 e2 e3 e4 e5" value=""> %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary rounded-pill" %>
</div>
</div>
