.booking-form-container {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  background-color: $gray-light;
  padding: 20px 50px 20px 50px;
  border: solid black 5px;
  //border-radius: 10px;
  width: 30vw;
  height: 60vh;
}

.booking-form-container .date {
  font-weight: bold;
  color: $gray-dark;
}

.booking-form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $red;
  top: 20px;
  left: 30px;
  margin-top: 30px;
}

.booking-form-container .simple_form {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
}

.booking-form-container .form-label {
  display: none;
}
