.card-power {
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  border: 4px solid $black;
  background-color: $white;
  color: $black;
  transition: border 0.15s;
  transition: background-color 0.15s;
}

.card-power:hover {
  background-color: rgb(230, 230, 230);
  border: 4px solid rgb(230, 230, 230);
}

.card-power > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-power h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: "Bangers", system-ui;
  letter-spacing: 0.05rem;
}

.card-power p {
  font-size: 12px;
  opacity: .7;
  overflow: hidden;
  height: 40px;
  width: 100%;
  margin-bottom: 8px;
}

.card-power .card-power-infos {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.card-power-infos .card-power-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-power-pricing {
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: $red;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  background-color: $yellow;
  position: absolute;
  bottom: 67px;
  right: 5px;
  padding: 10px;
  border: solid black 3px;
  border-radius: 50%;
  width: 25%;
  height: 60%;
  display: block;
}

.card-power-pricing p {
  position: absolute;
  top: 25px;
  margin: 0;
  height: 16px;
  width: 80%;
}

.card-container {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100vw;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  width: calc(33.3333% - 5px);
  box-sizing: border-box;
}
