.half-size-form {
  background-color: rgba($gray-dark,0.95);
  width: 40vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: solid black 10px;
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Comic Neue", system-ui;
  padding-top: 25px;
}

.half-size-form label {
  font-family: "Comic Neue", system-ui;
  color: $white;
}

.input-bar {
  color: $black;
  background-color: $gray-light;
  width: 100%;
  border: solid black 3px;
  margin-top: 10px;
  font-family: "Comic Neue", system-ui;
  // transform: skew(-5deg);
  box-shadow: black 3px 4px;
}

.first-label {
  margin-top: 10px;
}
