.white-text {
  color: white;
}

.black-border {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  text-decoration: none;
}

.banger-font {
  font-family: "Bangers", system-ui;
}

p {
  font-family: "Bangers", system-ui;
}
